body {
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    background-color: white;
    
}
.header
{
    display: flex;
    flex-direction: column;

}
.header_top
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.atelie_name
{
    margin: 10px;
    margin-left: 14%;

    font-weight: lighter;
    font-size: 45px;
    font-family: 'Marck Script', cursive;
    color: black;
}
.atelie_info
{
    margin-left: 19%;

    font-size: 20px;
    font-weight: lighter;
}
.header_bottom
{
    background-color: rgba(38, 132, 161, 0.733);

}
.menu
{
    margin: 20px;
}