body {
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    background-color: white;
    
}
.header
{
    display: flex;
    flex-direction: column;

}
.atelie_info
{
    margin: 0px;

    font-weight: lighter;
    font-size: 25px;
    font-family: 'Marck Script', cursive;
    color: black;
}