body {
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    background-color: rgba(0, 149, 248, 0.151);
}
.header
{
    display: flex;
    flex-direction: column;

}
.header_top
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.atelie_name
{
    margin: 10px;
    margin-left: 14%;
    padding-right: 280px;

    font-weight: lighter;
    font-size: 45px;
    font-family: 'Marck Script', cursive;
    color: black;
}
.atelie_info
{
    margin-left: 5%;

    font-size: 20px;
    font-weight: lighter;
}
.atelie_info_phone
{
    margin-left: 7%;

    font-size: 20px;
    font-family: Calibri;
}
.atelie_info_phone:hover
{
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 0.2s;
}
.header_bottom
{
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: rgba(31, 185, 212, 0.55);
    box-shadow: 0px 0px 15px rgba(0, 132, 255, 0.74);
}
.header_bottom_option
{
    margin: 20px;
    padding-left: 75px;
    padding-right: 75px;

    font-size: 25px;
    font-weight: bold;
    font-family: Calibri;
}
.header_bottom_option:hover
{
    color: white;
    transition: 0.2s;
    cursor: pointer;
}
.banner
{
    display: flex;
    flex-direction: column;
    margin: 40px;
    align-items: center;
    width: 90%;
    margin-left: 5%;

    
    border-radius: 45px;
    background-color: rgba(15, 99, 226, 0.55);
    box-shadow: 0px 0px 20px rgba(15, 99, 226, 0.55);
}
.banner_title
{
    margin: 15px;

    font-size: 50px;
    font-family: 'Marck Script', cursive;
    color: white;
    text-shadow: 0px 0px 10px white;
}
.plusi_and_images
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0%;
    margin-bottom: 30px;
}
.plus
{   
    display: flex;
    flex-direction: column;
    margin: 30px;
    width: 300px;
    padding: 10px;
    padding-top: 1%;
    
    justify-content: center;
    text-align: center;
    font-size: 29px;
    font-family: Calibri;
    color: white;
    text-shadow: 0px 0px 3px white;
    cursor:pointer;
    border-radius: 10px;
    background-color: rgba(15, 106, 226, 0.244);
    box-shadow: 0px 0px 10px rgba(15, 106, 226, 0.075);
}
.plusi_verh
{
    display: flex;
    flex-direction: row;
}
.plusi_niz
{
    display: flex;
    flex-direction: row;
    padding-left: 13%;
}

.plus:hover
{
    color: black;
    text-shadow: 0px 0px 3px black;
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.247);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.247);
}

.uslugi_spisok
{
    display: flex;
    flex-direction: column;
}
.uslugi_title
{
    margin: 15px;

    font-size: 50px;
    font-family: 'Marck Script', cursive;
    color: white;
    text-shadow: 0px 0px 10px white;
}
.uslugi
{
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
    width: 90%;
    margin-left: 5%;

    
    border-radius: 45px;
    background-color: rgba(15, 99, 226, 0.55);
    box-shadow: 0px 0px 20px rgba(15, 99, 226, 0.55);
}
#usluga_name1, #usluga_name2, #usluga_name3, #usluga_name4, #usluga_name5
{
    display: flex;
    flex-direction: column;
    margin: 30px;
    width: 1300px;
    padding: 10px;
    padding-top: 1%;
    
    
    justify-content: center;
    text-align: center;
    font-size: 29px;
    font-family: Calibri;
    color: white;
    text-shadow: 0px 0px 3px white;
    cursor:pointer;
    border-radius: 10px;
    background-color: rgba(15, 142, 226, 0.444);
    box-shadow: 0px 0px 10px rgba(15, 131, 226, 0.349);
}
#usluga_name1:hover, #usluga_name2:hover, #usluga_name3:hover, #usluga_name4:hover, #usluga_name5:hover
{
    color: black;
    text-shadow: 0px 0px 3px black;
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.247);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.247);
}
#usluga_info1, #usluga_info2, #usluga_info3, #usluga_info4, #usluga_info5
{
    display: none;
	width: 100%;
}
#usluga_info1.active, #usluga_info2.active, #usluga_info3.active, #usluga_info4.active, #usluga_info5.active
{
    display: block;
    color: black;
    text-shadow: 0px 0px 3px black;
    background-color: rgba(255, 255, 255, 0.815);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.541);
}